log/
backups/
tmp/
cache/
lib/
spool/
opt/
mail/
local/
lock
run


log/
tmp
private/codeigniter/application/config/database.php
private/codeigniter/application/config/config.php
*.DS_Store
www/assets/audio
www/assets/image
www/assets/video
www/assets/videoposters
private/codeigniter/application/cache/rss/
