.git
.dns
.bash_logout
.bash_history
.bash_profile
.git-completion.bash
.gitconfig
.cpanel
.ssh
.softaculous
perl5/
logs/
etc/
mail/
.lastlogin
tmp/
public_ftp/
.ftpquota
/access-logs/
/www/
.trash
.htpasswds
.gemrc
.contactemail
.bashrc
.bash_Iogout 


*.DS_Store
private/codeigniter/application/config/database.php
private/codeigniter/application/config/config.php
private/codeigniter/application/cache/rss/
!public_html/*
public_html/assets/audio
public_html/assets/image
public_html/assets/video
public_html/assets/videoposters
public_html/vidi/*